<div class="r w white blog_post_container">
	<span class="r post_date">14 Oct. 2013</span>
	<div class="r post_title"><a href="#">AandB Launches Website</a></div>
	<div class="r post_preview">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum nunc quis consequat laoreet. Pellentesque congue egestas ligula ac ullamcorper. Maecenas id nibh in enim dapibus sodales nec eget nulla. Sed vehicula sit amet purus ultricies ultricies.</div>
	<div class="r blog_underline"></div>
</div>
<div class="r w white blog_post_container">
	<span class="r post_date">14 Oct. 2013</span>
	<div class="r post_title"><a href="#">AandB Launches Website</a></div>
	<div class="r post_preview">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum nunc quis consequat laoreet. Pellentesque congue egestas ligula ac ullamcorper. Maecenas id nibh in enim dapibus sodales nec eget nulla. Sed vehicula sit amet purus ultricies ultricies.</div>
	<div class="r blog_underline"></div>
</div>
<div class="r w white blog_post_container">
	<span class="r post_date">14 Oct. 2013</span>
	<div class="r post_title"><a href="#">AandB Launches Website</a></div>
	<div class="r post_preview">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum nunc quis consequat laoreet. Pellentesque congue egestas ligula ac ullamcorper. Maecenas id nibh in enim dapibus sodales nec eget nulla. Sed vehicula sit amet purus ultricies ultricies.</div>
	<div class="r blog_underline"></div>
</div>
<div class="r w white blog_post_container">
	<span class="r post_date">14 Oct. 2013</span>
	<div class="r post_title"><a href="#">AandB Launches Website</a></div>
	<div class="r post_preview">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum nunc quis consequat laoreet. Pellentesque congue egestas ligula ac ullamcorper. Maecenas id nibh in enim dapibus sodales nec eget nulla. Sed vehicula sit amet purus ultricies ultricies.</div>
	<div class="r blog_underline"></div>
</div>
<div class="r w white blog_post_container">
	<span class="r post_date">14 Oct. 2013</span>
	<div class="r post_title"><a href="#">AandB Launches Website</a></div>
	<div class="r post_preview">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum nunc quis consequat laoreet. Pellentesque congue egestas ligula ac ullamcorper. Maecenas id nibh in enim dapibus sodales nec eget nulla. Sed vehicula sit amet purus ultricies ultricies.</div>
	<div class="r blog_underline"></div>
</div>