
<h1>Welcome, <%= @client.username %></h1>

<% if current_client.admin or current_client.developer %>
</br>
<%= link_to 'Sdk keys' , client_sdkkeys_path(current_client), :class => 'btn btn-primary' %>
</br>
<% end %>

<%= link_to 'My Campaigns', client_campaigns_path(current_client), :class => 'btn btn-primary btn-sml' %>
</br>
<%= link_to 'Logout', destroy_client_session_path, :class => 'btn btn-danger' %>
