<div class="r white video"> 
	<%= image_tag "http://i.space.com/images/i/000/012/066/i02/waldrup-old-harvest-moon-2011.jpg?1315923280", class: "w" %>
</div>

<div class="r w white content_holder_two">

	<div class="r w white headline">
		Stop Advertising. Start Engaging!
	</div>
	<div class="r white body_text">
		We are a small creative agency based out of Texas. Our goal is bring forth a new idea that can change the advertising buisness. We work with big companies located all over the globe that believe in our advertising method. 
	</div>
	<div class="r underline underline_a"></div>

	<div class="r latest_news">
		<div class="r latest_news_title">Latest News</div>
		<div class="r latest_news_underline underline"></div>
		<div class="r latest_news_body">
			Congressional leaders head to White House in a bid to piece together an elusive agreement to resolve the budget impasse, as a new proposal began to emerge to address partial gov't shutdown and looming debt-ceiling deadline.
		</div>
		<div class="a latest_news_picture"> Image</div>
	</div>

	<div class="a b w bottom_content">

		<div class="r follow_us_on"> follow us on</div>
		<div class="a white underline white_line white_line_left"></div>
		<div class="a white underline white_line white_line_right"></div>
		<div class="a follow_links follow_facebook"> 
			<a href="http://facebook.com">Facebook</a>
		</div>
		<div class="a follow_links follow_twitter">
			<a href="http://twitter.com">Twitter</a>
		</div>
		<div class="a follow_links follow_google">
			<a href="http://plus.google.com/ ">Google+</a>
		</div>

		<%= image_tag "list_1.png", class: "w a l bottom_brands", alt: "brands" %>
	</div>
</div>