

<b><h2>Search by campaign id or caption</h2></b>
<input id="search_campaign"></input>
<div id='campaigns'>
	<%= render 'campaigns' %>
</div>

<br />
<%= link_to 'Profile', client_path(current_client), :class => 'btn btn-primary btn-sml' %>
<%= link_to 'Logout', destroy_client_session_path, :class => 'btn btn-danger btn-sml' %>
