.blog_post_container {
	height: 280;}

.post_date {
	left: 200;
	top: 50;
	color: #9fabb3;
	font-size: 13px;}

.post_title {
	top: 50;
	left: 200;
	color: #1ec3f3;
	font-size: 40;
	font-weight: bold;}
	
.post_title a {color: #1ec3f3;}

.post_preview {
	top: 50;
	width: 675;
	font-size: 20;
	color: #3a4152;
	left: 200;}

.blog_underline {
	top: 50;
	width: 750;
	height: 50;
	background: ;
	border-bottom: 1px solid #cacaca;
	left: 50%;
	margin-left: -375;}

.wrapper {padding-bottom: 310px;}






















































