.hidden_map {height: 700;}
.map {
	width: 100%;
	height: 780;}
	
.contact_section {height: 250;}





:invalid { 
	border-color: #e88;
	box-shadow:0 0 5px rgba(255, 0, 0, .8);}

:required {
	border-color: #88a;
	box-shadow: 0 0 5px rgba(0, 0, 255, .5);}

form {
	top: 0;
	background: ;
	width:300px;
	margin: 20px;}

input {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	border:1px solid #ccc;
	font-size:15px;
	width:300px;
	min-height:30px;
	display:block;
	margin-bottom:10px;
	margin-top:5px;
	border-radius:5px;}

.select {width: 300;margin-bottom:10px;}



.text {
	font-size: 15;
	top: 5;
	width: 300;
	left: 320;
	height: 110;}
	
.latest_news_holder {
	height: 30;
	width: 300;
	top: 125;
	left: 320;}
.latest_news_checkbox {opacity: 0; z-index: 1;}
.checkbox_display {
	width: 20;
	height: 20;
	background: white;
	top: 4;
	left: 5;
	border: 1px solid #a9a9a9;
	text-align: center;}

.checked {opacity: 0;}
input:checked~ .checked {opacity: 1;}
input:checked~ .checkbox_display {border: 1px solid white;}

	
	
.color_aware {
	font: 14/30px "Helvetica Neue", Helvetica, Arial, sans-serif;
	left: 0;
	color: #828384;
	text-align: center;
	background: #f1f1f1;
	-webkit-transition:	background .4s, color .4 ease-in-out 0s;
	-moz-transition:	background .4s, color .4 ease-in-out 0s;
	-o-transition:		background .4s, color .4 ease-in-out 0s;
	transition:			background .4s, color .4 ease-in-out 0s;}
		
input:checked~ .color_aware {background: #1ec3f3; color: white;}



.submit_holder {
	left: 470;
	top: 165;
	width: 150;
	height: 30;}
	
.submit_holder:hover .color_aware {background: #27c2f0;color: white;}
.submit_button {opacity: 0; z-index: 1;}

.contact_card {
	height: 160;
	width: 350;
	right: 10;
	top: 0;
	text-align: center;}

.office {
	color: #1ec3f3;
	font-size: 45px;
	top: 20;}

.address {
	top: 30;
	color: #828384;
	line-height: 23px;}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	